/*An image is set as the background for the webpage*/
$body-bg-image: url(https://img.freepik.com/free-vector/white-monochrome-background_23-2149000661.jpg?w=2000&t=st=1686407869~exp=1686408469~hmac=64d73670e336af932bbd561725e7664812eca135a4c10855c59ce57007f1284c);
/*The headers background is set as an image*/
$header-bg-image: url(https://img.freepik.com/free-vector/gradient-white-monochrome-background_23-2149020687.jpg?size=626&ext=jpg&ga=GA1.1.2099653004.1686323262&semt=ais);
/*The colour for the text in the webpage is set to black*/
$main-color: #000000;
/*The colour for the text in the header is set to black*/
$header-color: #000000;
/*The colour for the border of the header is set to black*/
$header-border-color: #000000;
/*The colour for the list in the webpage is set to white*/
$list-color: #ddd;
/*The colour for the block background is set to black*/
$block-bg-color: #ffffffb9;
/*The colour for the border of the block is set to black*/
$block-border-color: #000000;
/*The colour for the block outline is set to white*/
$block-outline-color: #ffffff;
/*The colour for the footer background is set to white*/
$footer-bg-color: #ffffff;

body {
background-image: $body-bg-image;
color: $main-color;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-align: center;
display: flex;
flex-direction: column;
}

header {
background-image: $header-bg-image;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
color: $header-color;
display: flex;
justify-content: center;
align-items: center;
border-bottom: 1px solid $header-border-color;
}

.header-container {
max-width: 1200px;
margin: 0 auto;
padding: 10px;
}

#about-me-title {
font-size: 50px;
margin: 0;
}

header ul {
color: $list-color;
list-style-type: none;
margin: 0;
padding: 0;
}

header ul li {
color: $list-color;
display: inline-block;
margin-left: 10px;
}

main {
flex: 1;
padding: 20px;
}

.introduction-container {
max-width: 800px;
margin: 0 auto;
text-align: left;
border: 1px solid $main-color;
border-radius: 20px;
width: 75%;
padding: 20px;
padding-top: 15px;
}

.block-container {
display: flex;
justify-content: space-between;
margin-top: 20px;
}

.block {
width: 45%;
background-color: $block-bg-color;
border: 1px solid $block-border-color;
outline: 3px solid transparent;
box-shadow: 0 0 0 2px $block-border-color, 0 0 0 4px $block-outline-color;
border-radius: 20px;
padding: 5px;
margin-bottom: 20px;
}

.block h3 {
font-size: 24px;
margin-top: 0;
}

.picture-container {
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 70px;
}    
    
.picture-container img {
width: 475px; 
height: 350px; 
margin: 10px;
}

footer {
background-color: $footer-bg-color;
padding: 10px;
text-align: center;
margin-top: auto;
position: fixed;
left: 0;
bottom: 0;
width: 100%;
}